body{
    font-family: 'Playfair Display', serif;
    font-size: 700;
}

nav h3{
    margin-left: 5%;
    margin-top: 5%;
    padding-top: 20px;
}
.first-section{
    display: flex;
}
.first-part{
    width: 50%;
    margin-left: 5%;
    transition: transform 0.2s ease-in;
    
}
.first-part img{
        height: 400px;
        width: 400px;
}


.dslr:hover {
    transform: scale(1.3);
    transition: width 2s linear, height 2s, transform 2s;
}

.start-line{
    font-size: 3em;
   
}
.bold-line{
    color: mediumorchid;
}

.button{
    color: mistyrose;
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
    background-image: linear-gradient(rgb(17, 59, 246), rgb(6, 146, 240));
}
.pop-collection{
    /* text-align: center; */
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 5%;
    font-weight: 800;
    font-size: 2em;
}
.button:hover{
    transform: scale(1.2);
}



/*-------------- 2nd section---------------- */



/* .collections{
    background-color: rgb(250, 200, 217);
} */
.collection {
    width: 329px;
    height: 570px;
    /* border: 2px solid lightgray; */
    padding: 5px;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
}
.collection-image{
    padding-left: 10px;
    /* overflow: hidden; */
}
.fa-star {
    color: rgb(233, 127, 22);
    font-size: 12px;
}
.dollar{
    font-weight: 350;
    font-size: 30px;
}
/* .ratings{
    
    font-weight: 700;
} */
.collection-image:hover{
    transform: scale(1.1);
}
.collections{
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
}
.seemore{ 
    margin-left: 90%;
    margin-top: 3%;
    color: rgb(116, 29, 230);
    border-radius: 20px;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    
}
.fa-star-half-alt{
    color: rgb(233, 127, 22);
    font-size: 12px;
}
.far{
    color: rgb(233, 127, 22);
    font-size: 12px;
}

/* ------------ 
        Third section-------------- */

.colorfull{
    color: purple;
    font-size: 1.5em;
}
.third-row{
    display: flex;
}
.box{
    width: 350px;
    /* height: 476px; */
    margin: 8%;
}
.third-row img{
    width: 440px;
    height: 290px;
    margin-left: 20%;
    margin-top: 16%;
    transition: width 2s linear 1s, height 2s, transform 2s;
}

.third-row img:hover{
    transform: scale(1.3);
}

footer{
    text-align: center;
    padding: 1px;
    height: 200px;
    background-color: black;
    color: white;
    margin-top: 5%;
}
.year{
    font-size: 20px;
}
.fab{
    margin-left: 25px;
}
.fa-copyright{
    color: white;
}
/* ---------
            Media Quries
                -------------- */
            /* ----Mobile Devices------ */

@media only screen and (max-width:688px) {
    .first-section{
        width: 340px;
        background-color: rgb(193, 246, 241);
        /* margin-left: 50px; */
        position: absolute;
        
    }
    .first-part{
        width: 300px;
        height: 870px;
        padding-left: 5%;
    }
    .first-part img{
        /* margin: 30%; */
        margin-top: 290%;
        margin-right: 70%;
    }
    
    .start-line{
        font-size: 2em;
    }
    .start-journey{
        font-size: 1.2em;
    }
    .second-section{
        margin-top: 100%;
        padding-top: 210%;
    }
    .pop-collection{
        margin-top: 100%;
        margin-left: 30%;
        font-size: 2em;
        /* text-align: center; */
        
    }

    .collections{
        /* margin-top: 10%; */
        margin-left: 0;
        display: grid;
         grid-row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);

    
    }
    .collection{
        width: 330px;
    }

    .seemore{
        font-size: 1.5em;
        font-weight: 700;
        margin: 0;
    }
    .third-section{
        background-color: rgb(248, 203, 232);
        width: 330px;
        height: 220px;
        padding-left: 5%;
        padding-bottom: 10%;
        margin-left: 0;
        font-size: 12px;
    }
    .third-row{
        flex-direction: column;
        margin-right: 60%;
        margin-top: 10%;
        padding-top: 5%;
        
    }
    .third-row img{
        width: 300px;
        height: 200px;
    }
    footer{
        margin-top: 75%;
        width: 340px;
    }
    
}

/* ------------tablet designs-------------- */

@media only screen and (min-width: 688px) and (max-width:992px) {
    .first-section{
        background-color: skyblue;
    }
    .collections{
        grid-template-columns: repeat(2, 1fr);
    }
    .third-row{
        margin-right: 70%;
        margin-top: 5%;
        
    }
    .third-section{
        background-color: rgb(228, 245, 195);
    }
    .seemore{
        margin-left: 40%;
        font-size: 2em;
    }
    
}
